<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="Fontawesome Icons/css/all.min.css">
    <link rel="stylesheet" href="shop.css">
    <title>Ecommerce - Shop Page</title>

</head>
<body>
    <!--------------- SHOP PAGE -------------->
    <section id="page-header">
        <h2>#stay at Home - SHOP</h2>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <!-- PRODUCT 01 -->
            <div class="pro">
                <img src="Images/prod-10.jpg" alt="">
                <div class="des">
                    <span>Khaadi</span>
                    <h5>Basic Winter Clothes</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$50</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 02 -->
            <div class="pro">
                <img src="Images/prod-13.jpg" alt="">
                <div class="des">
                    <span>Handicrafts</span>
                    <h5>Pure Craft Hand Bag</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$20</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 03 -->
            <div class="pro">
                <img src="Images/prod-6.jpg" alt="">
                <div class="des">
                    <span>Wall Hangings</span>
                    <h5>Eye Mandala Set</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 04 -->
            <div class="pro">
                <img src="Images/prod-12.jpg" alt="">
                <div class="des">
                    <span>ROLEX</span>
                    <h5>Luxury Men Watch</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$435</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 05 -->
            <div class="pro">
                <img src="Images/prod-9.jpg" alt="">
                <div class="des">
                    <span>Embroided</span>
                    <h5>Coral Block Silver Print - Coat</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$66.76</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 06 -->
            <div class="pro">
                <img src="Images/prod-8.jpg" alt="">
                <div class="des">
                    <span>Candle Holders</span>
                    <h5>Candle Holder Candlestick</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half"></i>
                    </div>
                    <h4>$134</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 07 -->
            <div class="pro">
                <img src="Images/prod-1.jpg" alt="">
                <div class="des">
                    <span>Tealight Candle Holders</span>
                    <h5>Decorative Light Glass</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$140</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
            <!-- PRODUCT 08 -->
            <div class="pro">
                <img src="Images/prod-5.jpg" alt="">
                <div class="des">
                    <span>Handicrafts</span>
                    <h5>Crystal Handicrafted Royal Cart</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$1330</h4>
                </div>
                <div class="cart"><a href="#"><i class="fa-solid fa-cart-plus"></i></a></div>
            </div>
        </div>
    </section>
    <!--------x----------- SHOP PAGE --------------x------>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
    </section>
    <script src="shop.js"></script>
</body>
</html>