@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.analyticheading{
    padding-bottom: 10px;
   }
   .boxdivproductselecter{
     display: grid;
     justify-items: center;
     text-align: center;
     font-weight: 500;
     color: #ffffff;
     margin-top: 20px;
     font-size: 26px;
   }
   .livedatesection p{
       border: none;
       background: #f3c9ce;
       padding: 10px 15px 10px 15px;
       background-color: #FFE0CC;
       border-radius: 50px 50px 50px 50px;
       color: #C51A31;
       font-weight: 500;
       width: 350px;
   }
   .productselectsection{
      align-items: center;
       flex-flow: column;
       display: flex;
   }
   .livedatesection{
     display: flex;
     text-align: center;
     font-weight: 540;
     justify-content: flex-end;
   }
   .selectproductbox{
     background-color:#534892;
     width: 70%;
     height: 340px;
     border-radius: 30px;
   }
   .productselectslider{
     color: white;
     display: flex;
     padding-top: 30px;
     align-items: center;
     justify-content: space-between;
   }
   .viewprobtnproductselecter{
     font-size: 20px;
     background-color: white;
     color: #534892;
     text-decoration-line: none;
     text-align: center;
     display: block;
    transition: 0.5s;
     font-weight: 700; 
   }
   .btndiv{
     display: flex;
     gap: 20px;
     justify-content: center;
   }
   .arrowbutton {
    font-size: 50px;
    cursor: pointer;
    color: #534892;
    border: none;
    font-weight: 700;
  }