@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.analyticheading{
     padding-top: 30px;
     font-size: 24px;
}

.container {
     width: 100%;
     margin: 0;
     padding: 0;
     max-width: 100%;
}

.containerStyle {
     margin: 20px 30px;
     padding: 1rem;
     width: auto;
}

.cardStyle {
     background-color: #f8f9fa;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     border-radius: 0.5rem;
     padding: 1rem;
     margin-bottom: 4rem;
     text-align: center;
     width: 100%;
}

.tableStyle {
     width: 100%;
     border-collapse: collapse;
}

.predictTheadVal {
     width: 100%;
     text-align: center;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.tableHeaderStyle {
     background-color: #343a40;
     color: #fff;
     padding: 0.75rem;
}

.tableDataStyle {
     padding: 0.75rem;
     border-bottom: 1px solid #ddd;
}

.boxdivproductselecter{
     display: grid;
     justify-items: center;
     text-align: center;
     font-weight: 500;
     color: #ffffff;
     margin-top: 20px;
     font-size: 26px;
}
.livedatesection p{
       border: none;
       background: #f3c9ce;
       padding: 10px 15px;
       /* background-color: #FFE0CC; */
       border-radius: 50px;
       color: #C51A31;
       font-weight: 500;
       width: 350px;
}
.productselectsection{
      align-items: center;
       flex-flow: column;
       display: flex;
}
.livedatesection{
     display: flex;
     text-align: center;
     font-weight: 540;
     justify-content: flex-end;
}
.selectproductbox{
     background-color:#E5ECF6;
     width: 100%;
     height: 580px;
     align-items: center;
     justify-content: center;
     border-radius: 30px;
     padding: 30px 20px;
}
.productselectslider{
     color: white;
     display: flex;
     flex-direction: column;
     padding-top: 10px;
     align-items: center;
     justify-content: space-between;
}
.productselectslider h2 {
  padding: 0px;
  color: white;
  text-align: center;
}
.productselectslider p {
  color: white;
  text-align: center;
}
.viewprobtnproductselecter{
     font-size: 20px;
     background-color: white;
     color: #534892;
     text-decoration-line: none;
     text-align: center;
     display: block;
     transition: 0.5s;
     font-weight: 700; 
}
.btndiv{
     margin-top: 30px;
     display: flex;
     gap: 20px;
     justify-content: center;
}
.btndiv button {
  color: #088178;
  border-color: #088178;
}

.btndiv button:hover {
     background-color: #C51A31;
}

.arrowbutton {
    font-size: 50px;
    cursor: pointer;
    background-color: #534892;
    color: white;
    border: none;
    font-weight: 700;
}

 .graph{
     height: 344px;
    width: 730px;
}
 
@media (max-width: 991px) {
     .selectproductbox {
          width: auto;
     }
     .containerStyle {
          margin: 20px 0px;
          padding: 1rem;
          width: 100%;
     }
}

@media (max-width: 735px) {
     .selectproductbox {
          width: 600px;
     }
     .graph {
          width: 100%;
     }
     .containerStyle {
          margin: 20px 0px;
          padding: 1rem;
          width: 100%;
     }
}

@media (max-width: 530px) {
     .selectproductbox {
          width: 100%;
          text-align: center;
     }
     .graph {
          width: 100%;
     }
     .containerStyle {
          margin: 20px 0px;
          padding: 1rem;
          width: 100%;
     }
}