/* -------------------edit profile css ----------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.editprofilepage{
  padding: 12px 15px 0px 90px;
}
.inputtags{
  margin-bottom: 10px;
  text-align: left;
  box-shadow: none;
}
.inputtags:focus{
  box-shadow: none;
  box-sizing: none;
  border-color: #858585;
}


/*---------------------------------- profile css------------------------ */
.infosection h2 {
  color: white;
}

.infosection {
  color: white;
  line-height: 1.6em;
}

.profilepage{
  padding: 20px;
}
.profileheader{
  border: 2px solid;
  padding: 30px;
  color: white;
  background-color: #534892;
  border-radius: 20px;
}
.adres, .email{
  display: flex;
  gap: 7px;
}
.phonenumber{
  display: flex;
  gap: 7px;
}
.profileheader{
  display: flex;
  gap: 20px;
  
}
.header{
  display: flex;
  gap: 25px;
  margin-top: 10px;
}
.currentorder{
  width: 900px;
  border-radius: 20px;
  background-color: #ea618c;
}

.currentorderimg{
  padding: 5px;
  border-radius: 20px;
  background-color: #feaec7;
  margin: 10px;
}
.namesection{
  display: flex;
  gap:15px;
}
.currentorderheading{
  color: white;
  font-weight: 500;
  font-size: larger;
  padding-top: 25px;
}
.namesection{
  background-color: #fe85ab;
  border-radius: 20px;
}
.curentodrtext{
  padding: 60px 0px 0px 38px;
}
.curentodrtext p{
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: 200;
}
.curentodrtext h6{
  font-weight: 500;
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: xx-large;
}
.currentorderbody{
  display: flex;
}
.currentoedersvg{
  padding: 98px 0px 0px 98px;
}
.profilesection{
  margin-top: 90px;
  margin-bottom: 50px;
  display: flex;
  gap: 45px;
  width: 100%;
}
.box{
  /* display: flex; */
  background-color:#f1eff3;
  width: 50%;
  height: 340px;
  border-radius: 30px;
 
}
.boxdiv{
  display: grid;
  justify-items: center;
  text-align: center;
  font-weight: 500;
  color: #7062ba;
  margin-top: 10px;
  font-size: 26px;
}
.boxheadersvg{
  width: 100px;
  height: 100px;
  padding: 17px 10px 10px 10px;
  border-radius: 20px;
  background-color: #7062ba; 
  margin-top: -50px; 
}
.starratingwithprogress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starrating {
  font-size: 30px;
}

.starfilled {
  color: gold;
}

.starempty {
  color: #ccc;
}

.progressbars {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px; */
}


.progressbarlabel {
  margin-right: 8px;
}

.progressbar {
  width: 330px;
  height: 6px;
  background-color: #bab7b7;
  position: relative;
  border-radius: 5px;
}

.progressbarfill {
  height: 100%;
  background-color: #4caf50;
}
.productslider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px; 
  margin: 20px auto;
}

.productbox {
  padding: 20px;
  width: 70%;
  text-align: center;
}

.arrowbutton {
  font-size: 50px;
  cursor: pointer;
  color: #534892;
  border: none;
  font-weight: 700;
}
.viewprobtn{
  font-size: 20px;
  color: #534892;
  text-decoration-line: none;
  text-align: center;
  display: block;
  font-weight: 700;
}
.estaric{
  padding: 0;
  margin: none;
}



/* -----------------------------shop page------------------- */
/* Profile.module.css */

.myshopheader{
  padding: 10px 20px 10px 10px;
  margin: 10px 20px 10px 10px;
}
.backgroundpic{
  width: 100%;
  height: 300px;
  opacity: 70%;
  background-image: url(../img/myshop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: -120px;
    margin-left: 20px;
    opacity: 100%;
    opacity: 100%;
    position: relative;
    z-index: 1;
}