.container{
    align-items: center;
}   

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 70px;
    position: relative;
    background-color: #088178;
    color: white;  
}

.footerSection {
    flex-direction: row;
    display: flex;
}
.footerheading{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
 }
.daitelSection {
    padding: 30px 40px 50px 30px;
    width: 300px;
    align-items: center;
    font-size: 15px;
    background-color: #0f625c;
}

.daitelSection img {
    width: 170px;
    padding-bottom: 30px;
}

.daitelSectionLine {
    border: 1px solid white;
    opacity: 20%;
}

.otherPages {
    padding-left: 80px;
    padding-top: 15px;
}

.otherPages h5 {
    font-weight: bold;
    padding-bottom: 15px;
}

.footerLi {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    transition: 0.3s;
}

.footerLi:hover {
    color: #FFC208;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter h5 {
    font-weight: bold;
    padding: 15px 15px 15px 10px;
}

.newsletter{
    padding-left: 75px;
}

.newletterinput{
    margin:  15px 0px 15px 0px;
    border-radius: 25px;
    width: 330px;
    height: 50px;
    text-align: left;
}

.footerSubscribeBtn {
    text-align: center;
    padding-top: 8px;
    margin: -61px 6px 0px 180px;
    border: none;
    border-radius: 21px;
    background-color:#0b4945;
    color: white;
    width: 140px;
    font-size: 16px;
    transition: 0.3s;
    height: 42px;
}

.footerSubscribeBtn:hover {
    background-color: #FFC208;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter p {
    padding-top: 30px;
    font-size: 14px;

}

.footerIcons svg {
    transition: 0.3s;
    color: white;
}

.footerIcons svg:hover {
    cursor: pointer;
    fill: #FFC208;
    padding: 3px;
    transition: 0.3s;
}

.footerIcons {
    display: flex;
    gap: 18px;
}

.footerLine {
    border: 1px solid white;
    margin-top: 100px;
    opacity: 60%;
    width: 1000px;
}

