.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding:20px 20px 0px 20px;
    width: 1140px;
    position: fixed;
    background-color: white;
  }
  
  .navbarsearch{
    border: 1px solid #5656;
    border-radius: 20px;
  }
  .navbarsearch form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  
  }
  .navbarsearch form input{
    box-shadow: none;
    box-sizing: none;
    border: none;
    background-color: transparent;
  }
  .navbarsearch form input:focus{
    box-shadow: none;
    background-color: transparent;
  
  }
  .navbarsearch form button{
    background-color: transparent;
    color: inherit;
    border: none;
    padding-right: 7px;
  }
  .searchroutes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .routes{
    display: flex;
    justify-content: space-around;
  }
  .routes ul{
    gap: 50px;
  }
  @media screen and (max-width:991px)
  {
    /* .routes{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    } */
    .routes ul{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    /* .search-routes{
      flex-direction: row;
    } */
    .mobile-route-buttons{
      display: flex;
      flex-direction: row;
    }
  }