<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="Fontawesome Icons/css/all.min.css">
    <link rel="stylesheet" href="/src/pages/shop.css">
    <title>FIND PROJECTS</title>
</head>
<body>
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <!-- PRODUCT 01 -->
            <div class="pro-scrap">
                <img src="Images/DA-01.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>2 Day Delivery</span>
                    <h5>Expert Crafted Logo Design</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $30</h4>
                </div>
                
            </div>
            <!-- PRODUCT 02 -->
            <div class="pro-scrap">
                <img src="Images/DA-02.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>4 Day Delivery</span>
                    <h5>AI Based 2D Drawing with UI-Design</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $100</h4>
                </div>
                
            </div>
            <!-- PRODUCT 03 -->
            <div class="pro-scrap">
                <img src="Images/DA-03.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>3 Day Delivery</span>
                    <h5>WordPress Website Deign | WordPress Expert</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$99</h4>
                </div>
                
            </div>
            <!-- PRODUCT 04 -->
            <div class="pro-scrap">
                <img src="Images/DA-04.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>2-3 Day Delivery</span>
                    <h5>Full stack WordPress | Skilled WordPress Developer</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $100</h4>
                </div>
                
            </div>
            <!-- PRODUCT 05 -->
            <div class="pro-scrap">
                <img src="Images/DA-05.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>2 Day Delivery</span>
                    <h5>Captivating SEO Blog/Article</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $20</h4>
                </div>
                
            </div>
            <!-- PRODUCT 06 -->
            <div class="pro-scrap">
                <img src="Images/DA-06.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>1 Day Delivery</span>
                    <h5>Professional Video Editor</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half"></i>
                    </div>
                    <h4>From $30</h4>
                </div>
                
            </div>
            <!-- PRODUCT 07 -->
            <div class="pro-scrap">
                <img src="Images/DA-07.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>5 Day Delivery</span>
                    <h5>Shopify Store Designer | Shopify Expert</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $140</h4>
                </div>
                
            </div>
            <!-- PRODUCT 08 -->
            <div class="pro-scrap">
                <img src="Images/DA-08.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>5 Day Delivery</span>
                    <h5>Full Stack Developer .NET / TypeScript</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $200</h4>
                </div>
                
            </div>
            <!-- PRODUCT 09 -->
            <div class="pro-scrap">
                <img src="Images/DA-09.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>7 Day Delivery</span>
                    <h5>Full Stack WEB Application</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $299</h4>
                </div>
                
            </div>
            <!-- PRODUCT 10 -->
            <div class="pro-scrap">
                <img src="Images/DA-10.jpg" alt="">
                <div class="des">
                    <span><i class="fa-regular fa-clock"></i>14 Day Delivery</span>
                    <h5>3D NFT, Hyper Realistic 3D NFT Art</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>From $900</h4>
                </div>
            </div>
        </div>
    </section>
</body>
</html>